/*resetto le impostazioni della pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    HEADER
---------------*/
header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
}

#container_header {
    width: 80%;
    margin: auto;
}

#logo {
    width: 200px;
    margin-top: 40px;
}

/*---------------
    MAIN
---------------*/

/*--------title and photo section------*/
#container_main {
    width: 80%;
    margin: auto;
}

#link_booleaner {
    text-decoration: none;
    color: #15a4e2;
}

#section_title {
    margin-top: 10px;
}

h1 {
    font-size: 40px;
}

#autor, #date {
    color: grey;
}

#date {
    font-size: 12px;
}

#main_photos>img {
    margin-top: 20px;
    text-align: center;
}

.caption_photo {
    font-size: 12px;
}

/*--------text section------*/

#text_section>p {
    margin-top: 20px
}

ul {
    margin-top: 20px;
}

table {
    margin-top: 20px;
}

#thead {
    background-color: #20a9e5;
    color: white;
}

.colored_row {
    background-color: #b1e5f2;
}

.yellow_highlighted {
    background-color: yellow;
}

/*---------------
    FOOTER
---------------*/
#footer_section {
    width: 80%;
    margin: auto;
}

h2 {
    margin-top: 20px;
    color: grey;
}

#footer_section>div {
    margin-top: 20px;
    position: relative;
}

.interest_suggestion {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
}