/*resetto le impostazioni della pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header*/

header{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: #71bcf2;
    height:100px;
    width: 100%;    
}

#container_header{
    width: 70%;
    margin: auto;
    position: relative;    
}

#logo{
    width: 200px;
    position: absolute;
    top: 40px;
}

/*main*/

/*title and photo section*/
#container_main{
    width: 70%;
    margin: auto;
}

#section_title{
    margin-top: 10px;
}

h1{
    font-size: 40px;
}

#autor, #date{
    color: grey;
}

#date{
    font-size: 12px;
}

#lead_photos >img{
    margin-top: 20px;
    text-align: center;
}

.caption_photo{
    font-size: 12px;
}

/*text section*/
#text_section> p{
    margin-top: 20px
}

ul{
    margin-top: 20px;
}

table{
    margin-top: 20px;
}

#thead{
    background-color: #20a9e5;
    color: white;
}

.colored_row{
    background-color: #b1e5f2;
}

